/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to right, #e2a139, #f9d423);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #a35200;
  font-family: 'roboto';
}
.toss-call {
  color: #334155;
  font-size: 1.3rem;
}
.coin-img {
  height: 200px;
}
.toss-button {
  border: 0px;
  color: #a35200;
  background-color: #f9d423;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}
.toss-button:hover {
  cursor: pointer;
}
.count-container {
  display: flex;
  justify-content: space-around;
}
